#root{
    top: 106px;
    position: relative;
    padding: 0 !important;
}
.navbar{
    background-color: #2C3E50;
    font-size: 16px;
    font-weight: 700;

}
.navbar-brand{
    color: #fff !important;
    font-size: 32px;
}
.nav-item >a{
    color: #fff !important;
}
.active{
    background-color: #1abc9c;
    border-radius: 7px;
}
.transition{
    transition: all 500ms;
}
.home, .about{
    background-color: #1abc9c !important;
}
.image{
    width: 250px !important;
    padding-bottom: 30px;
}
.star-cont{
    position: relative;
    margin-bottom: 5px;
}
.star-cont::before,.star-cont::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 80px;
    height: 4px;
    transform:translateY(-50%);
}
.star-cont::before{
    right:35px;
}
.star-cont::after{
    left:35px;
}
.star-cont.blue-star{
    color: #2C3E50;
}
.star-cont.blue-star::before,
.star-cont.blue-star::after {
    background-color: #2C3E50;
}
.blue-txt{
    color: #2C3E50;
}

/* portfolio */
.img-cont{
    position: relative;
}
.layer{
    position: absolute;
    background-color: rgb(26, 188, 156, 0.9);
    opacity: 0;
    inset: 0;
    transition: all 500ms;
}
.img-cont:hover .layer{
    opacity: 1;
}
.layer i{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}
.layer-img{
    width: 47%;
    z-index: 99999 !important;
}
.modal{
    z-index: 9999;
}
.footer{
    background-color: #2C3E50;
    padding-bottom: 0 !important;
    .social-icons>i{
        border: 1px solid #fff;
        padding: 10px;
    }
    .dark-footer{
        background-color: #1A252F !important;
    }
}